<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Сетевые технологии и телекоммуникации</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Сетевые технологии и телекоммуникации</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/about">О нас</a>
        </nav>
    </header>
    <main>
        <h2>О нас</h2>
        <p>Наша компания занимается разработкой и внедрением передовых решений в области сетевых технологий и телекоммуникаций. Мы стремимся предоставить нашим клиентам лучшие продукты и услуги.</p>
        <h3>Наши сотрудники</h3>
        <table>
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Бобешко</td>
                    <td>Кирилл</td>
                </tr>
                <tr>
                    <td>Большаков</td>
                    <td>Иван</td>
                </tr>
                <tr>
                    <td>Вальц</td>
                    <td>Илья</td>
                </tr>
                <tr>
                    <td>Гаджиев</td>
                    <td>Джамал</td>
                </tr>
                <tr>
                    <td>Завьялов</td>
                    <td>Владимир</td>
                </tr>
                <tr>
                    <td>Карпов</td>
                    <td>Николай</td>
                </tr>
                <tr>
                    <td>Колмогорцев</td>
                    <td>Дмитрий</td>
                </tr>
                <tr>
                    <td>Кондратьев</td>
                    <td>Андрей</td>
                </tr>
                <tr>
                    <td>Кузнецова</td>
                    <td>Ольга</td>
                </tr>
                <tr>
                    <td>Литвин</td>
                    <td>Юрий</td>
                </tr>
                <tr>
                    <td>Макаров</td>
                    <td>Марк</td>
                </tr>
                <tr>
                    <td>Мустафина</td>
                    <td>Лейля</td>
                </tr>
                <tr>
                    <td>Пантелеева</td>
                    <td>Екатерина</td>
                </tr>
                <tr>
                    <td>Попов</td>
                    <td>Дмитрий</td>
                </tr>
                <tr>
                    <td>Сушин</td>
                    <td>Артем</td>
                </tr>
                <tr>
                    <td>Ярков</td>
                    <td>Тимофей</td>
                </tr>
            </tbody>
        </table>
        <h2> </h2>
    </main>
    <footer>
        <p>&copy; 2024 Сетевые технологии и телекоммуникации</p>
    </footer>
</body>
</html>
